#message-container{
  min-width: 90%;
  min-height: 40vh;
  border: black 2px solid;
  margin: 5px;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}



.form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.field{
  display: flex;

}

button{
  width: max-content;
}